<h1>@ViewBag.CategoryName</h1>

<div class="container d-flex justify-content-between">
  <partial name="_ExistingProductsInCategory"></partial> 
  <partial name="_AssociateProductToCategoryForm" />
</div>
