<div class="flex-grow-0">
  <h3>Categories:</h3>
  <ul>
    @if (ViewBag.myProduct.AssociatedCategories.Count == 0)
    {
      <p>Empty.</p>
    }
    @foreach (var category in ViewBag.myProduct.AssociatedCategories)
    {
      <li>@category.Category.Name</li>
    }
  </ul>
</div>