@model Product


<form asp-controller="Product" asp-action="Create" method="POST">
  <div class="mb-4">
    <span asp-validation-for="Price" class="text-danger"></span>
    <label asp-for="Price"></label>
    <input min="0" type="number" asp-for="Price"><span>$</span>
  </div>
  <button>Submit</button>
</form>