<nav>
  <ul>
    <li><a>Products</a></li>
    <li><a href="/categories">Categories</a></li>
  </ul>
</nav>

<p class="text-danger font-weight-bold">@ViewBag.ProductError</p>
<p class="text-danger font-weight-bold">@ViewBag.AssociationError</p>
<div>
  <partial name="_ProductForm"></partial>
  <partial name="_ExistingProducts"></partial>
</div>