@model Product

<h2>@ViewBag.ProductName</h2>

<div class="container d-flex justify-content-between">
  <partial name="_ExistingCategoriesInProduct"></partial>
  <partial name="_AssociateCategoryToProductForm"></partial>
</div>