@model Product

@{
    ViewData["Title"] = "Home Page";
}

<div class="counter">
    <h1 class="display-4">Household</h1>
    <div class="d-flex justify-content-center">
        <div class="flex-grow-1">
            <h2>Products: </h2>
            <ul>
                <li>List Here</li>
            </ul>
        </div>
        <div class="flex-grow-1">
            <form>
                Fill with existing products
            </form>
        </div>
    </div>
</div>
